.navbar-brand2 {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand2:hover,
.navbar-brand2:focus {
  text-decoration: none;
}
.logo {
	width: 200px;
	padding-right: 15px;
	float: left;
	margin-top: 4px;
}
.prosmotr {
	position: absolute;
	width: 500px;
	height: 550px;
	background: rgb(190,190,190);
	left: 100px;
	color: rgb(70,70,70);	
}
.fotos {
	position: absolute;
	width: 650px;
	height: 550px;
	left: 600px;
	background: rgb(216,191,216);
	color: rgb(70,70,70);
}
.img_circle {
  border-radius: 200px;
  box-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}
#dasha {
	position: absolute;
	left: 19.5%;
	padding-top: 30px;
	font-size: larger;
}
#vova {
	position: absolute;
	left: 55.5%;
	padding-top: 30px;
	font-size: larger;
}
.page1block1 {
	position: absolute;
	width: auto;
	height: 400px;
	background: rgb(190,190,190);
	color: rgb(70,70,70);
	left: 100px;
	right: 100px;
}
.page1block2 {
	position: absolute;
	width: auto;
	height: 375px;
	background: rgb(216,191,216);
	color: rgb(70,70,70);
	left: 0px;
	right: 0px;
	top: 150px;
}
#block_left {
	background: rgb(216,191,216);
	width: 205px;
	height: 525px;
	left: 65px;
}
#object {
	position: absolute;
	left: 270px;
}
.li_hover {
	left: -15px;	
}
.li_hover:hover {
	width: 205px;
	left: -15px;	
}
ul {
  list-style-type: none;
}
#list {
	list-style-type: none;
}
#unauth, #auth {
	padding: 10px 15px;
	font-size: 15px;
	line-height: 1.5;
}
#back {
	padding: 10px 15px;
	font-size: 20px;
	line-height: 1.5;
}
.btn_block {
  margin: 0 auto;
  display: block;
  width: 50%;
  padding-right: 0;
  padding-left: 0;
  }
.btn_block2 {
  margin: 0 auto;	
  display: block;
  width: 35%;
  padding-right: 0;
  padding-left: 0;
  }

.btn_new {
  font-weight: 700;
  font-size: large;
  color: white;
  text-decoration: none;
  text-shadow: 0 3px 2px rgba(0,0,0,.2);
  padding: 15px 40px 18px;
  border-radius: 5px;
  background: rgb(245,140,0);
  box-shadow: 0 -6px rgb(205,102,0) inset;
  transition: 0.2s;
} 
.btn_new:hover { background: rgb(238,118,0); }
.btn_new:active {
  background: rgb(205,102,0);
  box-shadow: 0 3px rgb(205,102,0) inset;
}
.btn_new.disabled,
.btn_new[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn_doc {
  font-weight: 700;
  font-size: large;
  color: white;
  text-decoration: none;
  text-shadow: 0 3px 2px rgba(0,0,0,.2);
  padding: 15px 40px 18px;
  border-radius: 5px;
  background: rgb(156,156,156);
  box-shadow: 0 -6px rgb(105,105,105) inset;
  transition: 0.2s;
} 
.btn_doc:hover { background: rgb(130,130,130); }
.btn_doc:active {
  background: rgb(79,79,79);
  box-shadow: 0 3px rgb(105,105,105) inset;
}